---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="سهّل حياتك مع فيف! نظام نقاط البيع متكامل، إدارة المخزون">
		<title>feeef - بزنس فالخفيف</title>

		<link href="https://fonts.googleapis.com/css2?family=Zain:wght@400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body dir="rtl" class="bg-white  dark:bg-gray-900 overflow-x-hidden">
		<AppHeader/>
		<slot />
		<AppFooter/>
	</body>
</html>
<style>
	html {
		font-family: Urbanist, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: auto;
	}
</style>